<div class="container-fluid p-0 m-0">
    <!-- latest movies -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="max-height: 93vh;" src="{{ path }}" class="d-block w-100"
                    alt="...">
            </div>
        </div>
    </div>
    <!-- /latest movies -->

    <!-- popular movies -->
    <div 
        class="row pt-3 d-flex justify-content-center" 
        style="background-color: black;">
        <hr>
        <div style="text-align: center;">
            <h1 class="m-3">
                Now Playing Movies
            </h1>
        </div>
        <hr>
        <app-movie 
            *ngFor="let item of popularMovies.results; let ind = index" 
            [type]="'nowPlayingMovies'"
            [index]="ind" 
            [movie]="item" 
            style="width: 18rem;">
        </app-movie>
    </div>
    <!-- /popular movies -->

    <!-- popular movies -->
    <div 
        class="row pt-3 d-flex justify-content-center" 
        style="background-color: black;">
        <hr>
        <div style="text-align: center;">
            <h1 class="m-3">
                Now Playing Movies
            </h1>
        </div>
        <hr>
        <app-movie 
            *ngFor="let item of topRatedMovies.results; let ind = index" 
            [type]="'nowPlayingMovies'"
            [index]="ind" 
            [movie]="item" 
            style="width: 18rem;">
        </app-movie>
    </div>
    <!-- /popular movies -->

</div>