<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"  routerLink="">
            <img src="https://seeklogo.com/images/N/netflix-n-logo-0F1ED3EBEB-seeklogo.com.png" style="height: 30px;" alt="">Netflix
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a (click)="navigateTo('/')" class="nav-item nav-link active" style="cursor: pointer;">Home</a>
                <a (click)="navigateTo('/showAll')" class="nav-item nav-link" style="cursor: pointer;">All</a>
            </div>
        </div>
    </nav>
</div>